# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
build/


# Vscode related
.vscode
__pycache__/

# Everything in the scene folder
scenes/*
# push the new scenes and assets
!scenes/cbox
!scenes/cbox/meshes/*
# !scenes/cbox/meshes
# !scenes/cbox/meshes/models
# !scenes/cbox/meshes/models/Mesh000.obj
# !scenes/cbox/meshes/models/Mesh001.obj
# !scenes/cbox/cbox_area_light_dielectric.xml
# !scenes/cbox/cbox_area_light_dielectric_bricks.xml
# !scenes/cbox/cbox_water_caustic.xml
# !scenes/cbox/cbox_water_large_light.xml

.DS_Store

# clangd cache
/.cache/

# development folder
/dev/